@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  background-color: transparent;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  transition: 0.5s linear;
}
body .open_menu {
  width: 100px;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 0 20px;
  background-color: #fff131;
  cursor: pointer;
}
body .open_menu .fa-arrow-left {
  color: purple;
  margin-top: 10px;
  margin-right: 10px;
  transform: scale(1.5) rotate(-30deg);
}
body .open_menu p {
  font-size: 1.2rem;
  color: purple;
  font-weight: bold;
}
body nav {
  height: 100vh;
  width: 30%;
  position: fixed;
  top: 0;
  left: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  background-color: #800080;
  transition: 0.5s linear;
}
body nav .close_menu {
  height: 50px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: -50px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff131;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
}
body nav .close_menu p {
  color: purple;
  font-weight: bold;
  font-size: 1.2rem;
}
body nav .close_menu .fa-arrow-right {
  color: purple;
  margin-left: 10px;
  font-size: 1.4rem;
}
body nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav ul i {
  transform: scale(1.5);
  color: #fff;
}
body nav ul a {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #fff;
  list-style: none;
  text-decoration: none;
}
body .name {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  font-size: 3rem;
  line-height: 80px;
  background-color: purple;
}
body .up {
  width: 100%;
}
body .about_content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .about_content h2 {
  color: #800080;
  font-size: 2.2rem;
}
body .about_content p {
  width: 40%;
  margin-top: 50px;
  line-height: 40px;
  letter-spacing: 0.3px;
}
body .programming_language {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body .programming_language h2 {
  font-size: 2.2rem;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #800080;
}
body .programming_language .technology {
  width: 60%;
  margin-bottom: 25px;
}
body .programming_language .technology div:nth-of-type(1) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .programming_language .technology div:nth-of-type(1) p {
  font-weight: bold;
  margin-bottom: 5px;
}
body .programming_language .technology div:nth-of-type(1) p:nth-of-type(1) {
  margin-left: 10px;
}
body .programming_language .technology div:nth-of-type(1) p:nth-of-type(2) {
  margin-right: 10px;
}
body .programming_language .technology div:nth-of-type(2) {
  height: 10px;
  width: 100%;
  background-color: lightgray;
}
body .programming_language .technology div:nth-of-type(2) span {
  display: block;
  height: 100%;
  background-color: #800080;
}
body .programming_language .technology div:nth-of-type(2) .mid {
  width: 50%;
}
body .programming_language .technology div:nth-of-type(2) .junior {
  width: 25%;
}
body .programming_language .technology div:nth-of-type(2) .trainee {
  width: 5%;
}
body .tools {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .tools h2 {
  height: 40px;
  color: #800080;
}
body .tools p {
  line-height: 30px;
}
body .system {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .system h2 {
  height: 50px;
  color: #800080;
}
body .language {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .language h2 {
  height: 40px;
  color: #800080;
}
body .language p {
  line-height: 30px;
}
body .certificates {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .certificates h2 {
  color: #800080;
  font-size: 2rem;
  margin-bottom: 30px;
}
body .certificates p {
  line-height: 40px;
}
body .down {
  margin-bottom: -5px;
  width: 100%;
}
body .wrapper_project {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #800080;
}
body .wrapper_project h1 {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #800080;
  font-size: 3rem;
}
body .wrapper_project .project {
  height: 300px;
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
}
body .wrapper_project img {
  width: 100%;
}
body .wrapper_project .info {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
body .wrapper_project .info h3 {
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #800080;
}
body .wrapper_project .info p {
  margin-bottom: 10px;
  font-weight: bold;
}
body .wrapper_project .info button {
  height: 20px;
  width: 100px;
  margin-bottom: 10px;
  font-weight: bold;
  border: none;
  color: #fff;
  background-color: deeppink;
  cursor: pointer;
}
body .contact {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .contact h2 {
  font-size: 2.2rem;
  color: #800080;
  margin-bottom: 50px;
}
body .contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
body .contact ul i {
  color: #800080;
}
body .contact ul li {
  font-weight: bold;
  list-style: none;
  margin-left: 10px;
  color: #800080;
}

@media (max-width: 768px) {
  body .about_content P {
    width: 80%;
  }
  body .programming_language .technology {
    width: 90%;
  }
  body .wrapper_project .project {
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */