@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: auto;
  width: 100vw;
  position: relative;
  background-color: rgba(128, 0, 128, 0.9);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
body .wrapper-about {
  position: absolute;
  top: 50px;
  right: 50px;
  height: auto;
  width: 55%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: -100px 0px 100px 0px rgba(0, 0, 0, 0.068);
}
body .wrapper-about .title {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #800080;
}
body .wrapper-about .title h1 {
  color: white;
  font-size: 3rem;
  margin-top: 50px;
  line-height: 80px;
}
body .wrapper-about .up {
  position: relative;
  width: 100%;
}
body .wrapper-about .about {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper-about .about p {
  width: 60%;
  font-size: 1.1rem;
  line-height: 30px;
  font-weight: 700;
}
body .wrapper-about .down {
  position: relative;
  display: block;
  margin-bottom: -4px;
  width: 100%;
}
body .wrapper-about .contact {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: purple;
  color: #fff;
}
body .wrapper-about .contact h1 {
  margin-bottom: 10px;
}
body .wrapper-about .contact p {
  line-height: 30px;
  font-weight: 700;
}
body .skills {
  position: relative;
  height: auto;
  width: 55%;
  z-index: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  box-shadow: 100px 0px 100px 0px rgba(0, 0, 0, 0.459);
  transition: all 0.3s linear;
}
body .skills:hover {
  z-index: 2;
}
body .skills .title_skills {
  height: 50vh;
  display: flex;
  align-items: center;
}
body .skills .title_skills h1 {
  color: #800080;
  font-size: 3rem;
}
body .skills .technology {
  width: 80%;
  margin-bottom: 25px;
}
body .skills .technology div:nth-of-type(1) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .skills .technology div:nth-of-type(1) p {
  font-weight: bold;
  margin-bottom: 5px;
}
body .skills .technology div:nth-of-type(1) p:nth-of-type(1) {
  margin-left: 10px;
}
body .skills .technology div:nth-of-type(1) p:nth-of-type(2) {
  margin-right: 10px;
}
body .skills .technology div:nth-of-type(2) {
  height: 10px;
  width: 100%;
  background-color: lightgray;
}
body .skills .technology div:nth-of-type(2) span {
  display: block;
  height: 100%;
  background-color: #800080;
}
body .skills .technology div:nth-of-type(2) .mid {
  width: 50%;
}
body .skills .technology div:nth-of-type(2) .junior {
  width: 25%;
}
body .skills .technology div:nth-of-type(2) .trainee {
  width: 5%;
}
body .certificates {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .certificates h2 {
  color: #800080;
  font-size: 2rem;
  margin-bottom: 30px;
}
body .certificates p {
  line-height: 40px;
}

@media (max-Width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
  }
  body .wrapper-about {
    position: relative;
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    box-shadow: none;
  }
  body .skills {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */