
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: auto;
    width: 100vw;
    position: relative;
    background-color: rgba(128, 0, 128, .9);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    .wrapper-about{
        position: absolute;
        top: 50px;
        right: 50px;
        height: auto;
        width: 55%;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: -100px 0px 100px 0px rgba(0, 0, 0, 0.068);
        .title{
            height: 40vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:#800080;
            h1{
                color: white;
                font-size: 3rem;
                margin-top: 50px;
                line-height: 80px;
            }
        }
        .up{
            position: relative;
            width: 100%;
        }
        .about{
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                width: 60%;
                font-size: 1.1rem;
                line-height: 30px;
                font-weight: 700;
            }
        }
        .down{
            position: relative;
            display: block;
            margin-bottom: -4px;
            width: 100%;
        }
        .contact{
            height: 30vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: purple;
            color: #fff;
            h1{
                margin-bottom: 10px;
            }
            p{
                line-height: 30px;
                font-weight: 700;
            }
        }
    }
    .skills{
        position: relative;
        height: auto;
        width: 55%;
        z-index: 0;       
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        box-shadow: 100px 0px 100px 0px rgba(0, 0, 0, 0.459);
        transition: all .3s linear;
        &:hover{
            z-index: 2;
        }
        .title_skills{
            height: 50vh;
            display: flex;
            align-items: center;
            h1{
                color: #800080;
                font-size: 3rem;
            }
        }
        .technology{
            width: 80%;
            margin-bottom: 25px;
            div:nth-of-type(1){
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                p:nth-of-type(1){
                    margin-left: 10px;
                }
                p:nth-of-type(2){
                    margin-right: 10px;
                }
            }
            div:nth-of-type(2){
                height: 10px;
                width: 100%;
                background-color: lightgray;
                span{
                    display: block;
                    height: 100%;
                    background-color: #800080;
                }
                .mid{
                    width: 50%;
                }
                .junior{
                    width: 25%;
                }
                .trainee{
                    width: 5%;
                }
            }
        }
        }
        .certificates{
            height: 70vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2{
                color: #800080;
                font-size: 2rem;
                margin-bottom: 30px;
            }
            p{
                line-height: 40px;
            }
        }
}

@media (max-Width: 1024px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: transparent;
        .wrapper-about{
            position: relative;
            width: 100%;
            z-index: 0;
            top: 0;
            left: 0;
            box-shadow: none;
        }
        .skills{
            width: 100%;
        }
    }
}