@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: auto;
  width: 100vw;
  position: relative;
  background-color: rgba(128, 0, 128, 0.9);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
body .wrapper-about {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 55%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: -100px 50px 100px 0px rgba(0, 0, 0, 0.11);
}
body .wrapper-about .name {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3rem;
  background-color: purple;
}
body .wrapper-about svg {
  width: 100%;
}
body .wrapper-about .about_content {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .wrapper-about .about_content h2 {
  color: #800080;
  margin-top: 50px;
  font-size: 2rem;
}
body .wrapper-about .about_content p {
  width: 60%;
  margin-top: 50px;
  line-height: 40px;
  letter-spacing: 0.3px;
}
body .wrapper_skills {
  position: relative;
  height: auto;
  width: 55%;
  z-index: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  transition: all 0.3s linear;
}
body .wrapper_skills:hover {
  box-shadow: 100px 0px 100px 0px rgba(0, 0, 0, 0.459);
  z-index: 2;
}
body .wrapper_skills h1 {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #800080;
}
body .wrapper_skills .technology {
  width: 80%;
  margin-bottom: 25px;
}
body .wrapper_skills .technology div:nth-of-type(1) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .wrapper_skills .technology div:nth-of-type(1) p {
  font-weight: bold;
  margin-bottom: 5px;
}
body .wrapper_skills .technology div:nth-of-type(1) p:nth-of-type(1) {
  margin-left: 10px;
}
body .wrapper_skills .technology div:nth-of-type(1) p:nth-of-type(2) {
  margin-right: 10px;
}
body .wrapper_skills .technology div:nth-of-type(2) {
  height: 10px;
  width: 100%;
  background-color: lightgray;
}
body .wrapper_skills .technology div:nth-of-type(2) span {
  display: block;
  height: 100%;
  background-color: #800080;
}
body .wrapper_skills .technology div:nth-of-type(2) .mid {
  width: 50%;
}
body .wrapper_skills .technology div:nth-of-type(2) .junior {
  width: 25%;
}
body .wrapper_skills .technology div:nth-of-type(2) .trainee {
  width: 5%;
}
body .wrapper_skills .certificates {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .wrapper_skills .certificates h2 {
  color: #800080;
  font-size: 2rem;
  margin-bottom: 30px;
}
body .wrapper_skills .certificates p {
  line-height: 40px;
}
body .wrapper_project {
  width: 70%;
  position: absolute;
  top: 1150px;
  left: 20%;
  background-color: #fff;
  transition: box-shadow 0.3s linear;
}
body .wrapper_project:hover {
  z-index: 3;
  box-shadow: -50px -50px 100px 0px rgba(0, 0, 0, 0.137);
}
body .wrapper_project h1 {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #800080;
  font-size: 3rem;
}
body .wrapper_project .project {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
body .wrapper_project .project img {
  width: 45%;
  margin: 20px;
}

@media (max-Width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
  }
  body .wrapper-about {
    position: relative;
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    box-shadow: none;
  }
  body .skills {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */