
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: purple;
    font-family: 'Roboto', sans-serif;
    .wrapper-about{
        height: 90%;
        width: 50%;
        position: absolute;
        top: 10%;
        left: 42%;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 10px 10px 0px 0px; 
        box-shadow: -20px 0px 5px 0px #bebdbd;
        .title{
            height: 30%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:purple;
            h1{
                color: white;
            }
        }
        .imgs{
            display: flex;
            align-self: center;
            img{
                transform: rotate(-15deg) scale(1);
                width: 100%;
            }
        }
        .about{
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                width: 60%;
                font-size: 1.1rem;
                line-height: 30px;
            }
        }
        .contact{
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }
    .skills{
        height: 100%;
        width: 45%;
        position: absolute;
        top: 0;
        left: 2%;
        z-index: 1;       
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        .title-skills{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-self: center;
        }
        .name-technology{
            // height: 100px;
            // width: 100%;
            display: flex;
            span{
                width: 15px;
                height: 15px;
                background-color: rgb(216, 216, 216);
                border-radius: 50%;
                margin-left: 5px;
            }
        }
        .project{
            display: flex;
            justify-content: center;
            align-self: center;
        }
    }
}
